fire-wrapper {
    left: 50%;
    position: absolute;
    top: 50%;
    transform-origin: top center;
    width: 3.5rem;
}
.fire {
    animation: whoos 1s linear infinite;
    width: 100%;
}
@keyframes whoosh {
    from {
        transform: translateY(-25%);
    }
    to {
        transform: translateY(0);
    }
}